<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Books Scraper</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header class="p-8 flex items-center justify-center">
        <!--Logo-->
        <a href="/" class="text-xl font-medium text-indigo-600">
            <img src="{{ url_for('static', filename='logo.svg') }}" alt="Books Scraper Logo" class="h-12">
        </a>
    </header>
    <div class="px-8">
        {% block contenido %}{% endblock %}
    </div>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>