{% extends "base.html" %}
{% block contenido %}
<div class="flex">
    <aside class="text-sm p-4">
        <h4 class="font-medium mb-4">Categorías</h4>
        <ul>
            {% for category in categories %}
            <li class="mb-4"><a href="{{ category.url }}">{{ category.category }}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <section class="flex-1 p-6">
        <h2 class="text-2xl font-medium mb-4">Libros</h2>
        <div class="grid grid-cols-1 md:grid-cols-6 gap-6">
            {% for book in books %}
            <a class="p-4 text-center transition-all border border-white rounded-lg hover:border-gray-100 hover:shadow-md" href="{{ book.url_detail }}">
                <img class="mb-4 border border-gray-200 rounded-lg w-full h-[220px] object-cover" src="{{ book.image_url }}" alt="{{ book.title }}">
                <div class="flex gap-1 mb-2">
                    {% for i in range(5) %}
                        {% if i <= book.rating %}
                            <i data-lucide="star" class="size-3 text-amber-500 fill-amber-500"></i>
                        {% else %}
                            <i data-lucide="star" class="size-3 text-gray-300"></i>
                        {% endif %}
                    {% endfor %}
                </div>
                <h3 class="font-medium text-lg mb-2 text-left truncate text-indigo-950">{{ book.title }}</h3>
                <p class="font-semibold text-gray-600 mb-2 text-left text-pink-500">{{ book.price }}</p>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}